bloc  

    .container
      .row
          mixin deporte(imagen, encabezado, precio)
            .col.s12.col.m6.col.l4
              img(src="../dist/images/portfolio/#{imagen}.jpg")

              h5 #{encabezado}

          +deporte(1, "Sailing Vivamus")
          +deporte(2, "Sailing Vivamus")
          +deporte(3, "Sailing Vivamus")
          +deporte(4, "Sailing Vivamus")
          +deporte(5, "Sailing Vivamus")
          +deporte(6, "Sailing Vivamus")
          +deporte(7, "Sailing Vivamus")
          +deporte(8, "Sailing Vivamus")
          +deporte(9, "Sailing Vivamus")
          +deporte(10, "Sailing Vivamus")
          +deporte(11, "Sailing Vivamus")
          +deporte(12, "Sailing Vivamus")
          +deporte(13, "Sailing Vivamus")
          +deporte(14, "Sailing Vivamus")
          +deporte(15, "Sailing Vivamus")
          +deporte(16, "Sailing Vivamus")
          +deporte(17, "Sailing Vivamus")
          +deporte(18, "Sailing Vivamus")
          +deporte(19, "Sailing Vivamus")
          +deporte(20, "Sailing Vivamus")
          +deporte(21, "Sailing Vivamus")
          +deporte(22, "Sailing Vivamus")
          +deporte(23, "Sailing Vivamus")
          +deporte(24, "Sailing Vivamus")
