bloc  

    .container
      .row
          mixin colores(imagen, encabezado)
            .col.s12.col.m6.col.l4
              img(src="../dist/images/portfolio/#{imagen}.jpg")

              h5 #{encabezado}

          +colores(1, "Sailing Vivamus")
          +colores(2, "Sailing Vivamus")
          +colores(3, "Sailing Vivamus")
          +colores(4, "Sailing Vivamus")
          +colores(5, "Sailing Vivamus")
          +colores(6, "Sailing Vivamus")
          +colores(7, "Sailing Vivamus")
          +colores(8, "Sailing Vivamus")
          +colores(9, "Sailing Vivamus")
          +colores(10, "Sailing Vivamus")
          +colores(11, "Sailing Vivamus")
          +colores(12, "Sailing Vivamus")
          +colores(13, "Sailing Vivamus")
          +colores(14, "Sailing Vivamus")
          +colores(15, "Sailing Vivamus")
          +colores(16, "Sailing Vivamus")
          +colores(17, "Sailing Vivamus")
          +colores(18, "Sailing Vivamus")
          +colores(19, "Sailing Vivamus")
          +colores(20, "Sailing Vivamus")
          +colores(21, "Sailing Vivamus")
          +colores(22, "Sailing Vivamus")
          +colores(23, "Sailing Vivamus")
          +colores(24, "Sailing Vivamus")

         
