body
  color: #848485
  nav
    background-color: #ffffff
    ul
      color: black
      li
        a
          color: black
nav.nav-wrapper
    margin: 10px 40px 40px
nav .nav-wrapper
   ul
div.iconos
   i
      color: #BFBFC1
      margin-left: 30px
div.iconos
    padding: 40px 40px 0
.responsive-img
    display: relative
.footer-img
    display: block
